node_modules
# Entorno virtual
venv/
.env

# Archivos temporales de Python
__pycache__/
*.py[cod]
*.pyc

# Archivos de base de datos
*.sqlite3

# Archivos de logs
*.log

# Archivos de sistema
.DS_Store

.dockerignore